* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f4f4f4; /* Cor de fundo mais suave */
    font-family: 'Sen', sans-serif; /* Fonte padrão */
    color: #333; /* Cor padrão do texto */
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Sen', sans-serif; /* Fonte padrão */
}

.inicio-section-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 1024px;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center;    /* Alinhamento vertical */

}

.apresentação-content {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

/* SOBRE MIM */



.sobre-mim-section-container {
    display: grid;
    grid-template-columns: 1fr; /* Define uma coluna para o título */
    grid-template-rows: auto 1fr; /* Define uma linha para o título e outra para o conteúdo */
    justify-items: center; /* Centraliza o conteúdo horizontalmente */
    height: 1024px; /* Altura fixa do container */
}

.section-title {
    grid-column: 1 / -1; /* Faz o título ocupar a largura total */
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.sobre-mim-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Foto 1/3 e texto 2/3 */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    width: 100%; /* Faz o conteúdo ocupar a largura total */
    height
}

.sobre-mim-foto {
    display: flex;
    justify-content: center; /* Centraliza a foto horizontalmente */
    align-items: center; /* Centraliza a foto verticalmente */
}

.sobre-mim-foto img {
    max-width: 100%; /* Garante que a foto não ultrapasse o tamanho da div */
    height: auto; /* Mantém a proporção da imagem */
}

.sobre-mim-texto-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
    text-align: left;
    padding-left: 20px; /* Espaçamento entre a foto e o texto */
}

.sobre-mim-texto-container > p {
    width: 100%; /* O texto ocupa toda a área da coluna de texto */
}
