* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garante que o body preencha toda a altura da página */
    background-color: #fff; /* Cor de fundo do corpo */
    display: flex; /* Usar flexbox para alinhar os elementos */
    flex-direction: column; /* Coluna como direção principal */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
}

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define duas colunas iguais */
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    text-align: center; /* Centraliza o texto */
    gap: 20px; /* Espaçamento entre os itens */
}

h1 {
    color: black;
    font-size: 60px;
    font-family: 'Sen', sans-serif; /* Adicione sans-serif como fallback */
    font-weight: 400;
}

.subtitle {
    color: black;
    font-size: 25px;
    font-family: 'Actor', sans-serif; /* Adicione sans-serif como fallback */
    font-weight: 400;
    letter-spacing: 5px;
}

.profile-image {
    border-radius: 50%; /* Adiciona borda arredondada na imagem de perfil */
    align-items: ;
}

/* Adicione estilos para as seções */
section {
    width: 100%; /* Permite que a seção ocupe toda a largura */
    padding: 20px; /* Espaçamento interno */
}